<div class="fixed bottom-12 right-16 rounded-full bg-yellow-500 hover:bg-yellow-600 transition-colors duration-300 ease-in-out ">
  <a href="/stories/add" class=" h-16 w-16 flex items-center justify-center">
    <i class='fas fa-plus text-white text-2xl'></i>
  </a>
</div>
