<nav class="fixed top-0 z-10 left-0 w-full px-12 py-4  justify-between items-center bg-gray-200 shadow-md flex text-gray-600">
      <a href="/dashboard" class="block no-underline text-3xl  font-bold  cursor-pointer">StoryBooks</a>
     <ul class="flex w-48 justify-between">
       <li class="hover:underline"><a href="/dashboard">Home</a></li>
       <li class="hover:underline"><a href="/stories">Stories</a></li>
       <li class="hover:underline"><a href="/auth/logout">Logout</a></li>
     </ul>

</nav>
