
<h1 class="text-black font-semibold tracking-wide text-5xl"><i class="fas fa-book-reader mr-4"></i>StoryBooks</h1>

<div class="divide-y-2">
 <p class="text-gray-600 mt-10 mb-8 tracking-wider font-medium">Create public and private stories from your life.</p>
 <div>

  <a href="/auth/google" class="uppercase rounded shadow tracking-6 inline-block py-3 px-4 bg-red-500 hover:bg-red-600 mt-4 text-white">
        <i class="fab fa-google  mr-3"></i>
        login with google
  </a>
 </div>
</div>