<h1 class="text-3xl text-gray-700 my-6">Page Not Found / 404</h1>
<p class="text-gray-500 mb-6">The page you're looking for is either deleted or never existed.</p>
<a href="/dashboard" class="uppercase bg-red-500 rounded text-white tracking-wider shadow inline-block py-2 px-3">Go to Dashboard</a>
